.container{
    display: flex;
    flex-direction: ;
    justify-content: ;
    align-items: ;
    flex-wrap:wrap ;
    align-content: ;
    column-gap: 1em;
    row-gap: 1em;
    
}


.box{
    height: 150px;
    width: 150px;
    font-size: 8em;
    border-radius: 15px;
    text-align: center;
    
}

#box1{
    background-color: red;
}
#box2{
    background-color: rgb(165, 218, 33);
}
#box3{
    background-color: rgb(10, 98, 131);
}
#box4{
    background-color: rgb(141, 10, 10);
}