.pagination{
text-align: center;
font-size: 170%;

}
.pagination a{
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
}
.pagination a.active{
    background-color: yellow;
    border-radius: 6px;
    font-weight: bold;
}
.pagination a:hover:not(.active){
    background-color: rgb(230, 227, 227);
    border-radius: 6px;
    font-weight: bold;
   
}
